<h3>HTML Form</h3>
<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="name">Name</label>
    <input type="text" id="name" name="user[name]"><br><br>
    <label for="email">E-mail</label>
    <input type="text" id="email" name="user[email]"><br><br>
    <label for="passowrd">Passowrd</label>
    <input type="password" id="passowrd" name="user[passowrd]"><br><br>
    <input type="submit" value="Submit">
</form>
<br><br>
<h3>Rails Tag Form</h3>
<%= form_tag '/users' do %>
    <%= label_tag "Username:" %>
    <%= text_field_tag :name %> <br /><br />
    <%= label_tag "Email:" %>
    <%= email_field_tag :email %><br /><br />
    <%= label_tag "Password:" %>
    <%= password_field_tag :passowrd %><br /><br />
    <%= submit_tag "Submit" %>
<%end%>
<br><br>
<h3>Rails form_for</h3>
<%= form_for @user do |f| %>
    <% if @user.errors[:name].any? %>
    <ul>
        <% @user.errors[:name].each do |message|%>
        <li>Username <%= message %></li>
        <% end %>
    </ul>
    <% end %>
    Name:<%= f.text_field :name %><br /><br />

    <% if @user.errors[:email].any? %>
    <ul>
        <% @user.errors[:email].each do |message|%>
        <li>E-mail <%= message %></li>
        <% end %>
    </ul>
    <% end %>
    E-mail:<%= f.email_field :email %><br /><br />

    <% if @user.errors[:passowrd].any? %>
    <ul>
        <% @user.errors[:passowrd].each do |message|%>
        <li>Passowrd <%= message %></li>
        <% end %>
    </ul>
    <% end %>
    Passowrd:<%= f.password_field :passowrd %><br /><br />
  
    <%= f.submit %>
<% end %>